.card-hover {
    position: relative;
    overflow: hidden;
}

.card-hover img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

/* Zoom ảnh */
.card-hover:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    transition: 0.3s;

    z-index: 10;
}

.card-hover:hover .overlay {
    opacity: 1;
}

.overlay button {
    border-radius: 20px;
    font-weight: bold;
}
/* Nút chat */
#chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    background: #5b1412;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;

    z-index: 9999;
}

/* Khung chat */
#chat-box {
    position: fixed;
    bottom: 90px;
    right: 20px;

    width: 300px;
    height: 400px;

    background: white;
    border: 1px solid #ccc;

    display: none;
    flex-direction: column;

    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Header */
#chat-header {
    background: #5b1412;
    color: white;
    padding: 10px;
}

/* Nội dung */
#chat-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/* Input */
#chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
}

.nav-menu li a {
    text-decoration: none !important; 
    color: white !important;        
    display: inline-block;
    padding: 5px 10px;
}