.card-hover {
    position: relative;
    overflow: hidden;
}

.card-hover img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

/* Zoom ảnh */
.card-hover:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    transition: 0.3s;

    z-index: 10;
}

.card-hover:hover .overlay {
    opacity: 1;
}

.overlay button {
    border-radius: 20px;
    font-weight: bold;
}